@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	// vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea, input { outline: none; }
ul, li {
    list-style-type: none
}

.dark {
  --color-primary: #0f0f0f;
  --color-secondary:#272727;
  --color-ternary: #303030;
  --color-border: #303030;
  --color-txtprimary: #ffffff;
}

.light {
  --color-primary: #ffffff;
  --color-secondary:#f2f2f2;
  --color-ternary: #f8f8f8;
  --color-border:#c1c1c1;
  --color-txtprimary:#030303 ;

  // --color-bg-primary: #ffffff;
  // --color-bg-secondary: #edf2f7;
  // --color-bg-ternary:#edf2f7;
  // --color-text-primary: #2d3748;
  // --color-text-secondary: #4a5568;
  // --color-text-accent: #2b6cb0;
}
// .dark {
//   --color-bg-primary: #0f0f0f;
//   --color-bg-secondary:#222222;
//   --color-border-primary:#303030

//   --color-text-primary: #f7fafc;
//   --color-text-ternary:	#3d3d3d;
//   --color-text-secondary: #aaaaaa;
//   --color-text-accent: #81e6d9;
// }

// .light {
//   --color-bg-primary: #ffffff;
//   --color-bg-secondary: #edf2f7;
//   --color-bg-ternary:#edf2f7;
//   --color-text-primary: #2d3748;
//   --color-text-secondary: #4a5568;
//   --color-text-accent: #2b6cb0;
// }
